body {
    width: 1000px;
    font-family: 'メイリオ',
    'hiragino kaku Gothic Pro',
    sans-serif;
    background-color: #AED6F1;
    margin-left:30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto; 
    
}
.logoimg{
    margin-left: 400px;
    margin-top: 20px;
}

nav {
    
    display: block;
    height: 70px;
    /*margin-top: 20px;*/
    background-color:#008000;
   
}
nav li{
    /*border: 2px solid;*/
    display:table-cell;
    /*direction: rtl;*/
    margin-left: 30px;
    font-size: 28px;
    float:left;
    margin-top: 10px;
}
nav li ul {
    display: inline-block;
    float: left;
    /*margin-top: 20px;*/
}
.social{
    display:table-cell;
    display: inline-block;
    width: 45px;
}
/*.socialt{*/
/*    display:table-cell;*/
/*    display: inline-block;*/
/*    width: auto;*/
/*}*/
/*.socialm{*/
/*    display:table-cell;*/
/*    display: inline-block;*/
/*    width: auto;*/
/*}*/
.nepal_map{
    margin-left: 30px;
    width: 550px;
    margin-top:30px;
}
.information{
    display: inline-block;
    width: 350px;
    float: right;
    margin-top: 80px;
    background-color: #008000;
    text-align: center;
    font-family: cursive;
     
    
}

.slides {
    position: absolute;
    width: 800px;
    margin: auto;
    margin-left: 40px;
    margin-top: 50px;
}
ul{
    list-style-image: url("image/aabb.png");
    /*display: inline-block;*/
    /*float:left;*/
    
}

.foods-festivals .fd-fv {
    display: inline-block;
    margin-left: 200px;
    font-family: cursive;
}
footer{
    margin-left: 30px;
    font-style: bold;
    
}
.everst{
    position: absolute;
    width: 1000px;
    height: 668px;
    margin-left: 30px;
    margin-top: 50px;
}
.info{
    /*position: absolute;*/
    margin-left: 30px;
    /*margin-top: 50px;*/
    font-family:cursive;
    font-size: medium;
    background-color: #dafd95;
    width: auto;
}
.contact {
    font-family:bold;
    border-collapse: collapse;
    width: 80%;
    /*margin-left: 50px;*/
    background-color: #dddddd;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
.us{
    font-style: italic;
}
.thanks{
    margin-left: 400px;
    margin-top: 50px;
}
.jpn{
    font-size: 18px;
    font-style: bold;
}
.contact2 p{
    width: 100%; 
    /*margin-left: 50px;*/
    font-family: cursive;
    /*font-style: italic;*/
    font-size:18px;
    
}
.tel-number-field{
    width: 50px;
    text-align: center;
}
.send{
    font-family:bold;
}